.profile__add-button {
  background-image: url(../../../images/Vector.svg);
  background-size: 22px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 150px;
  border: 2px solid white;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  transition: opacity 1s ease;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 282px;
    background-size: 16px;
  }
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}