.profile__info{
  max-width: 730px;
  display: flex;
  justify-content: space-between;
  margin: 0 244px 0 30px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    max-width: 282px;
    flex-direction: column;
    margin: 0 auto 36px;
  }
}